.side-bar {
  display: flex;
  flex-direction: column;
  flex: 0.22;
}

.side-bar-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.side-bar-search {
  display: flex;
  align-items: center;
  background-color: grey;
  height: 39px;
  padding: 10px;
}

.side-bar-chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}
